In [1]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LogisticRegression
import yaml

# directory_shift
%cd ..

/home/sergiusz/Sergiusz_main/Business/Bitcoin_sentiments

### Model artifacts directories management:

In [2]:
directory_shift = ""

with open(directory_shift + "params.yaml") as conf_file:
    config = yaml.safe_load(conf_file)

# data_input:
all_data = config["data_input"]["all_data"]

# model_output:
dumb_model = config["model_output"]["dumb_model"]

### Read the data:

In [3]:
DATA = pd.read_csv(
    all_data, encoding="ISO-8859-1", names=["Sentiment", "News Headline"]
)

In [5]:
print(DATA.shape)
DATA.head()

(4846, 2)

  Sentiment                                      News Headline
0   neutral  According to Gran , the company has no plans t...
1   neutral  Technopolis plans to develop in stages an area...
2  negative  The international electronic industry company ...
3  positive  With the new production plant the company woul...
4  positive  According to the company 's updated strategy f...

In [6]:
DATA.describe()

       Sentiment                                      News Headline
count       4846                                               4846
unique         3                                               4838
top      neutral  TELECOMWORLDWIRE-7 April 2006-TJ Group Plc sel...
freq        2879                                                  2

In [10]:
DATA.Sentiment.value_counts()/DATA.shape[0]

neutral     0.594098
positive    0.281263
negative    0.124639
Name: Sentiment, dtype: float64